<h3 class="title">Selecciona el genero de peliculas que quieres consultar</h3>
<!-- <pre>{{movies.Search | json}}</pre> -->
<div class="btns_container">
  <button type="button" (click)="viewMoviesLove()">Amor</button>
  <button type="button" (click)="viewMoviesComedy()">Comedia</button>
  <button type="button" (click)="viewMoviesMystery()">Misterio</button>
  <button type="button" (click)="viewMoviesAction()">Acción</button>
</div>

<div class="searcher">
  <h5>Ingresa el titulo que quieres buscar: </h5>
  <input type="text" [(ngModel)]="searchTitle">
  <button  *ngIf='searchTitle' type="button" (click)="searchTitleMovie()">Buscar</button>
</div>

<div class="movieCard" *ngIf='viewSearch'>
  <img src={{searchMovie.Poster}}>
  <h3>{{searchMovie.Title}}</h3>
  <h4>{{searchMovie.Year}}</h4>
  <h4>{{searchMovie.Runtime}}</h4>
  <h4>{{searchMovie.Genre}}</h4>
  <h4>{{searchMovie.Director}}</h4>
  <h4>{{searchMovie.Actors}}</h4>
</div>


<div class="movieCard_container" *ngIf="viewAll">
  <div *ngFor="let movie of movies.Search" class="movieCard">
    <img src={{movie.Poster}}>
    <h3>{{movie.Title}}</h3>
    <h4>{{movie.Year}}</h4>
    <h4>{{movie.Runtime}}</h4>
    <h4>{{movie.Genre}}</h4>
    <h4>{{movie.Director}}</h4>
    <h4>{{movie.Actors}}</h4>
  </div>
</div>
